<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
		<localRepository>/fdx/FDX_MVN_REPO_8_2_1/</localRepository>
        <proxies>
                <proxy>
                        <id>internal</id>
                        <active>true</active>
                        <protocol>http</protocol>
                        <username>admin</username>
                        <password>admin1234</password>
                        <host>10.20.40.165</host>
                        <port>8080</port>
                        <nonProxyHosts>10.20.40.165</nonProxyHosts>
                </proxy>
        </proxies>
        <profiles>
                <profile>
                        <id>internal</id>
                        <activation>
                                <activeByDefault>true</activeByDefault>
                        </activation>
                        <repositories>
                                <repository>
                                        <id>internal</id>
                                        <name>FDX Maven Repository</name>
                                        <url>http://10.20.40.165:8080/repository/internal/</url>
                                        <releases>
                                                <enabled>true</enabled>
                                        </releases>
                                        <snapshots>
                                                <enabled>true</enabled>
                                        </snapshots>
                                </repository>
                        </repositories>
                        <pluginRepositories>
                                <pluginRepository>
                                        <id>internal</id>
                                        <name>FDX Maven Repository</name>
                                        <url>http://10.20.40.165:8080/repository/internal/</url>
                                        <releases>
                                                <enabled>true</enabled>
                                        </releases>
                                        <snapshots>
                                                <enabled>true</enabled>
                                        </snapshots>
                                </pluginRepository>
                        </pluginRepositories>
                </profile>
        </profiles>
        <activeProfiles>
                <activeProfile>internal</activeProfile>
        </activeProfiles>
        <servers>
                <server>
                        <id>internal</id>
                        <username>admin</username>
                        <password>admin1234</password>
                </server>
		<server>
                        <id>BrokerageRepository</id>
                        <username>admin</username>
                        <password>admin1234</password>
                </server>
        </servers>
        <mirrors>
                <mirror>
                        <id>internal</id>
                        <url>http://10.20.40.165:8080/repository/internal/</url>
                        <mirrorOf>external:*</mirrorOf>
                </mirror>
                <mirror>
                        <id>BrokerageRepository</id>
                        <url>http://10.20.40.165:8080/repository/brokerage/</url>
                        <mirrorOf>external:*</mirrorOf>
                </mirror>
        </mirrors>
</settings>
